[Desktop Entry]
Type=Application
Name=Soberix
GenericName=Roblox Launcher Manager
Comment=Gerenciador do Sober: configs, FastFlags, mods e backups
Exec=soberix gui
Icon=com.github.fernando.soberix
Categories=Game;
Keywords=roblox;sober;launcher;fflags;
Terminal=false
